<a href="https://colab.research.google.com/github/Nandu000/Assignments/blob/master/program_to_print_k_multiplication_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
k=int(input('enter k value'))
for i in range(1,11):
  print(k,'*',i,'=',k*i)

enter k value15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150